@font-face {
  font-family: "IBMPlexMono";
  font-stretch: normal;
  font-style: normal;
  src: url("font/IBMPlexMono-Light.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  transition: all 0.1s linear;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #f4b0d9;
}

h1,
h2 {
  font-weight: 500;
}

h1,
h2,
h3 {
  text-align: left;
}

body {
  font-size: 18px;
  color: #000;
  border: 2px solid #f4b0d9;
}

p {
  text-align: left;
}

ul {
  padding-top: 5px;
  list-style: inside;
}

li::marker {
  color: #f4b0d9;
}

.resume {
  min-height: 100vh;
  font-family: "IBMPlexMono", monospace;
  padding: 40px;
  max-width: 970px;
  margin: 20px auto;
}

.resume-header {
  display: grid;
  text-align: right;
  grid-template-columns: 1fr 1fr;
}

.resume-header__name {
  font-size: 44px;
  padding-bottom: 10px;
  display: block;
  text-transform: uppercase;
}

.resume-header__description {
  font-size: 24px;
  display: block;
  opacity: 0.6;
}

.resume-contacts__email,
.resume-contacts__github {
  font-size: 24px;
  display: block;
  padding-top: 10px;
  opacity: 0.6;
}

.profile {
  text-align: justify;
  border-bottom: 1px solid #f4b0d9;
  padding: 30px 0px 30px;
  font-size: 18px;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
}

.main-section__header {
  font-size: 24px;
  font-weight: bold;
  opacity: 0.9;
  padding-left: 35px;
  text-transform: uppercase;
  position: absolute;
}

.main-section__column {
  padding-top: 30px;
}

.main-section__date {
  opacity: 0.6;
  padding-bottom: 5px;
}

.main-section__organization {
  font-size: 20px;
  opacity: 0.9;
  padding-bottom: 5px;
  font-weight: bold;
}

.skills {
  padding-left: 30px;
}

.employment {
  padding-right: 30px;
  border-right: 1px solid #f4b0d9;
}

.employment__icon,
.skills__icon {
  max-width: 25px;
}

@media (max-width: 650px) {
  .resume {
    padding: 30px;
  }

  .resume-contacts {
    text-align: left;
  }

  .resume-header {
    display: block;
  }

  .resume-header__name {
    font-size: 26px;
  }

  .resume-header__description {
    font-size: 22px;
  }

  .resume-contacts__github,
  .resume-contacts__email {
    font-size: 20px;
  }

  .profile {
    font-size: 16px;
  }

  .main-section {
    display: block;
  }

  .main-section__header {
    font-size: 22px;
  }

  .main-section__date {
    text-align: left;
  }

  .employment {
    border-right: none;
    border-bottom: 1px solid #f4b0d9;
    padding-bottom: 30px;
  }

  .skills {
    padding: 30px 0;
  }
}
