@font-face {
  font-family: "RobotoMono";
  font-stretch: normal;
  font-style: normal;
  src: url("font/RobotoMono-Light.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  transition: all 0.1s linear;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #fda1f6;
}

h1,
h2 {
  font-weight: 500;
}

h1,
h2,
h3 {
  text-align: left;
}

body {
  font-size: 18px;
  color: #22181c;
  border: 1px solid #fda1f6;
}

p {
  text-align: justify;
}
ul {
  list-style: disclosure-closed inside;
}

.resume {
  grid-gap: 20px;
  min-height: 100vh;
  font-family: "RobotoMono";
  padding: 40px;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 1fr;
  max-width: 970px;
  margin: 20px auto;
}

.profile {
  text-align: justify;
  border-bottom: 1px solid #fda1f6;
  padding-bottom: 40px;
}

.resume-contacts {
  grid-column-end: span 2;
  text-align: left;
}

.resume-header__name,
.resume-contacts__github {
  font-size: 32px;
  display: block;
}

.resume-header__description,
.resume-contacts__email {
  font-size: 24px;
  display: block;
}

.section-title {
  margin-top: 30px;
}

.resume-image {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  max-width: 100%;
  object-fit: none;
  object-position: 0 0;
}

.wh-2 {
  grid-row: 6;
}

.wh-4 {
  grid-row: 8;
}

.profile,
.section-title,
.section-column {
  grid-column-end: span 2;
}

/* @media (min-width: 600px) { */
/*   .resume-contacts { */
/*     text-align: right; */
/*     grid-column-end: span 1; */
/*   } */
/*  */
/*   .wh-2 { */
/*     grid-row: 5; */
/*   } */
/*  */
/*   .wh-4 { */
/*     grid-row: 7; */
/*   } */
/*  */
/*   .resume-header__name, */
/*   .resume-contacts__github { */
/*     font-size: 26px; */
/*   } */
/*  */
/*   .resume-header__position, */
/*   .resume-contacts__email { */
/*     font-size: 24px; */
/*   } */
/* } */
/*  */
@media (min-width: 850px) {
  body {
    font-size: 17px;
  }
  .wh-2 {
    grid-row: auto;
  }

  .wh-4 {
    grid-row: auto;
  }

  .resume {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .resume-contacts {
    text-align: right;
    grid-column-end: span 2;
  }
  .resume-header__name {
    font-size: 40px;
    padding-bottom: 10px;
    display: block;
  }

  .resume-header__description {
    font-size: 20px;
    display: block;
    opacity: 0.6;
  }

  .resume-contacts__email,
  .resume-contacts__github {
    font-size: 24px;
    display: block;
    padding-top: 10px;
    opacity: 0.6;
  }

  .profile,
  .section-title {
    grid-column-end: span 3;
    margin-top: 20px;
  }
  .section-column {
    grid-column-end: auto;
  }
}
